.navBtn{
    height: 125px;
    width: 33.333%;
    font-size: 44px;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    cursor: pointer;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: font-size 0.2s ease;
    background-color: var(--navbar-card-color);
    color: var(--sub-bg-color);
}
.navBtn:nth-child(2),.navBtn_active:nth-child(2){
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.navBtn:hover{
    font-size: 60px;
    color: var(--bg-color);
}
.navBtn_active{
    height: 125px;
    width: 33.333%;
    font-size: 44px;
    font-weight: bold;
    border: none;
    border-top: 2px solid black;
    cursor: pointer;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: var(--sub-bg-color);
    color: var(--navbar-card-color);
    cursor:default;
}

@media(max-width:700px){
    .navBtn,.navBtn_active{
        font-size: 34px;
        height: 100px;
    }
    .navBtn:hover{
        font-size: 42px;
    }
}