.popupAtDelete_component{
    width: 450px;
    height: 350px;
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: var(--light-text-color);
    left: calc(50vw - (450px /2));
    background-color: var(--popup-bg-color);
    border: 1px solid var(--text-color);
    box-shadow: 7px 7px 9px black;
    text-shadow: 3px 3px 4px var(--popup-shadow-color);
}#popup_delete_yes, #popup_delete_no{
    width: 100px;
    height: 40px;
    background-color:var(--popup-bg-color);
    color: var(--popup-text-color);
    font-weight: bold;
    font-size: 18px;
    border: 1px solid var(--popup-text-color);
    margin: 40px 10px 0;
    cursor: pointer;
}
#popup_delete_yes:hover{
    border: 1px solid green;
    color: green;
}
#popup_delete_no:hover{
    border: 1px solid red;
    color: red;
}