.popupAtDelete_component{
    width: 400px;
    height: 250px;
    border: 1px solid black;
    background-color: white;
    z-index: 1000; 
    position: absolute;
    left: calc(50vw - (350px /2));
}