.task_status{
    min-width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task_status_switch_div{
    width: 50px;
    height: 20px;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    transition: background-color 0.2s ease;
    z-index: 100;
}
.task_status_switch_circle{
    border-radius: 50%;
    transition: translate 0.2s ease;
}
.task_status_switch_switch{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}