.task_component{
    min-width: 500px;
    width: 70%;
    min-height: 230px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0 auto 40px;
    display: flex;
    flex-direction: column;
    transition-property: scale,background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}
.task_component:hover{
    box-shadow: 5px 5px 5px grey;
    scale: 1.05;
}
.task_container{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 230px;
    position: relative;
}
.task_editBtn{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 60px;
    top: 20px;
    background: url("../assets/editLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.task_deleteBtn{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    background: url("../assets/deleteLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.task_editBtn:hover, .task_deleteBtn:hover{
    filter:brightness(0);
}

.task_status{
    width: 20%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task_status_switch_div{
    width: 50px;
    height: 20px;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.task_status_switch_circle{
    border-radius: 50%;
    transition: translate 0.2s ease;
}
.task_status_switch_switch{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightgrey;
    transition: background-color 0.2s ease;
}
.task_subject{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.task_mainDetails{
    width: 20%;
    height: 190px;
    padding: 20px 0;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.task_mainDetails_urgencyDiv{
    width: 80%;
    height: 30px;
    border: 0.5px solid black;
    position: relative;
}
.urgencySelection{
    width: 100%;
    height: 91.5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
}
.urgency_selectOption{
    width: 100%;
    height: 30px;
    cursor: pointer;
    border-bottom: 0.5px solid black;
}
#urgency_selectLow{
    background-color: green;
}
#urgency_selectMedium{
    background-color: orange;
}
#urgency_selectHigh{
    background-color: red;
}
.task_mainDetails_h4{
    margin: 0;
    font-weight: normal;
}
.task_description_dropDown{
    min-height: 100px;
    width: 80%;
    padding: 0 10%;
    border-top: 1px solid black;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}