@font-face {
  font-family: "MyCustomFont";
  src: url("./assets/fonts/AmartiSatraDemo-E4P3j.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body{
  min-width: 720px;
  overscroll-behavior: none;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* @media (max-width: 450px){
  body{
    overscroll-behavior: none;
    margin: auto;
    max-width: 450px;
    width: 105vw;
    min-width: 250px;
  }
} */